{% extends 'base.html.twig' %}

{% block title %}Hello StatisticController!
{% endblock %}

{% block body %}
	<table class="table">
		<thead class="thead-dark" >
			<tr>
				<th scope="col">#</th>
				<th scope="col">Name</th>
				<th scope="col">age</th>
			</tr>
		</thead>
		<tbody>
			{% for client in clients %}
				<tr>
					<th scope="row">1</th>
					<td>{{ client.name }}</td>
                    <td>{{ client.age }}</td>
				</tr>
			{% endfor %}
		</tbody>
        {{ knp_pagination_render(clients) }}
	</table>
{% endblock %}
