body{
    background-color: aqua;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

ul li {
    list-style: none;
    margin: 1.5rem;
    color:black;
}